* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: unset;
  font-family: "main";
  overflow-y: hidden;
}

@import "./partials/breakpoints";
@import "./partials/colors";
@import "./partials/fonts";
@import "../components/Navbar/navbar";
@import "../components/Hero/hero";
@import "../components/Footer/footer";
